
@{
    Layout = "_Layout";
    var i = 0;
    
}

<br />
<input type="button" href="/Home/Razor" value="PlayAgain" />
<br />
@for (i = @ViewBag.bottles; i > 0 ; i--)
{

    @if(i == 1)
        {
    <p>@i green bottlees standing on the wall,</p>
    <p>@i green bottlees standing on the wall,</p>
    <p>And if one green bottle should accidentally fall,</p>
    <p>There'll be no green bottles standing on the wall.</p>
    <br />
         }

    @if(i > 1)
        {
    <p>@i green bottlees standing on the wall,</p>
    <p>@i green bottlees standing on the wall,</p>
    <p>And if one green bottle should accidentally fall,</p>
    <p>There'll be @(i-1) green bottles standing on the wall.</p>
    <br />
        }
}
